header {
    width:100%;
}
header h1 {
    text-align:center;
    height:20vh;
}
main {
    width:100%;
    height:70vh;
}
section {
    padding-top: 10vh;
}
main section button {
    width:20%;
    margin-top:10px !important;
    margin-left:40%;
}
.sudokugame {
    width:25%;
    margin:auto;
    margin-top: -120px !important;
}
.sudokugame img{
    width:100%;

}
.reset-button {
    width:40%;
    margin-left:0;
}
.pauzeer-button {
    width:40%;
    margin-left:18.5%;
}
.control-button {
    width:100%;
    margin-left:0;
}
.timer {
    text-align: right;
}
@media screen and (max-width: 1400px) {
    html{
        background-color: aqua;
    }
   .reset-button {
    width:45%;
    margin-left:0;
}
.pauzeer-button {
    width:45%;
    margin-left: 8.5%;
} 
}
@media screen and (max-width: 500px) {
    .sudokugame {
    width:80%;
    margin:auto;
    margin-top: -120px !important;
}

.reset-button {
    width:40%;
    margin-left:0;
}
.pauzeer-button {
    width:40%;
    margin-left:18.5%;
}
.control-button {
    width:100%;
    margin-left:0;
}
}
@media screen and (max-width: 400px) {
main section button {
    width:40%;
    margin-top:10px !important;
    margin-left:30%;
    }
    .sudokugame {
    width:80%;
    margin:auto;
    margin-top: -120px !important;
}

.reset-button {
    width:100%;
    margin-left:0;
}
.pauzeer-button {
    width:100%;
    margin-left:0%;
}
.control-button {
    width:100%;
    margin-left:0;
}

}
